<!DOCTYPE html>
<html lang="en">

<head>
<title>insta485</title>
</head>

<body>
<!-- top -->
<h2 style="text-align:left;"><a href = "/">Insta485</a>
<span style="float:right;"><a href = "/explore/">explore</a>|<a href = "/u/{{current}}/">{{current}}</a></span></h2>

<h3>{{current}}</h3>
<!-- DO NOT CHANGE THIS -->
<form action="/accounts/delete/" method="post" enctype="multipart/form-data">
    <input type="submit" name="delete" value="confirm delete account"/>
  </form>

</body>