<!DOCTYPE html>
<html lang="en">

<head>
<title>insta485</title>
</head>

<body>
<!-- top -->
<h2 style="text-align:left;"><a href = "/">Insta485</a>
<span style="float:right;"><a href = "/accounts/login/">login</a></span></h2>

<form action="/accounts/login/" method="post" enctype="multipart/form-data">
    <p><input type="text" name="username"/></p>
    <p><input type="password" name="password"/></p>
    <p><input type="submit" value="login"/></p>
  </form>

  <p>Don't have an account? <a href = "/accounts/create/">Sign up</a></p>

</body>